<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header::header(title='authorizePayment')">
</head>


<body>

	<h2 th:text="'Your payment methods'"></h2>
	
	<br /><br />
	<div th:each="methIndex : ${payMethIndexes}" th:with="toto=${methIndex.selectable.cardNumber}">

	<br /><br />
	
	<form action="#" th:action="@{/selectPaymentMethod}" th:object="${indexForm}" method="post">
    	<p><span th:text="'Credit Card Number: '"></span><span th:text="${methIndex.selectable.cardNumber}"></span></p>
        <p><span th:text="'Name: '"></span><span th:text="${methIndex.selectable.name}"></span></p>
        <p><input type="hidden" th:name="index" th:id="index" th:value="${methIndex.index}" /></p>
      
        <p>
        <span th:text="'Make primary: '"></span>
        <input type="radio" th:field="*{primary}" th:value="'false'" /><span th:text="'no'"></span>
        <input type="radio" th:field="*{primary}" th:value="'true'" /><span th:text="'yes'"></span>
        </p>
      
        <p><input type="submit" th:value="'choose'" /></p>
	</form>
	
	
	
	</div>
	
	<!--form action="#" th:action="@{/selectPaymentMethod}" th:object="${paymentMethod}" method="post">
   	
	  <ul>
        <li th:each="selectable : ${payMeths}">
        <input type="radio" th:field="*{cardNumber}" th:readonly="readonly"/>
        </li>
      </ul>	
        <p><input type="submit" th:value="#{form.valid}" /> <input type="reset" th:value="#{form.reset}" /></p>
	
	</form-->


</body>

</html>